<!doctype html>
<html>
  <head>
    <title>RPF apprenticeship technical task</title>
    <link rel="stylesheet" href="stylesheets/application.css">
    <link rel="shortcut icon" href="images/favicon.ico">
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Nunito+Sans:wght@400;600&family=Open+Sans&family=Roboto:ital,wght@0,300;0,400;1,300&display=swap');
  </style>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
